.section-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 5%;
  position: relative;
}

.hero-texts {
  width: 545px;
}

.hero-texts h1 {
  font-size: 4.05rem;
}

.hero-texts p {
  font-size: 1.33rem;
  font-weight: 400;
  line-height: 34.2px;
}

.control {
  position: absolute;
  margin-top: 20px;
  /* top: 50px; */
  left: 0;
  background: var(--light-gray, #f3f3fa);
  border-radius: 4px;
  width: 737px;
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
