.section-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  /* gap: 15rem; */
}

.hero-texts {
  width: 545px;
}

.hero-texts h1 {
  font-size: 4.05rem;
}

.hero-texts p {
  font-size: 1.33rem;
  font-weight: 400;
  line-height: 34.2px;
}
