.iconInput{
  display: flex;
  align-items: center;
  margin-left: 2%;
  background-color: white;
  width: 302px;
  height: 56px;
}

.img-div{
  height: 22px;
  width: 15px;
  margin: 0 15px;
}

.img{
  height: 100%;
  width: 100%;
}

.iconInput input{
  border: none;
}