.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 0 solid grey;
  padding: 15px 5%;
  box-sizing: border-box;
  box-shadow: 4px 7px 8px #dad7d7;
}

.addresses {
  display: flex;
  gap: 2rem;
  align-items: center;
  text-decoration: none;
}